@font-face {
  font-weight: 300;
  font-family: Signika;
  font-style: normal;
  src: local('Signika-Light'), 
    url(./signika/Signika-Light.ttf) format('woff'); /* Modern Browsers */

  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: Signika;
  font-style: normal;
  src: local('Signika-Regular'), 
    url(./signika/Signika-Regular.ttf) format('woff'); /* Modern Browsers */

  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: Signika;
  font-style: normal;
  src: local('Signika-Medium'), 
    url(./signika/Signika-Medium.ttf) format('woff'); /* Modern Browsers */

  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: Signika;
  font-style: normal;
  src: local('Signika-SemiBold'), 
    url(./signika/Signika-SemiBold.ttf) format('woff'); /* Modern Browsers */

  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: Signika;
  font-style: normal;
  src: local('Signika-Bold'), 
    url(./signika/Signika-Bold.ttf) format('woff'); /* Modern Browsers */

  font-display: swap;
}
